@import 'mixins';

$text-color: #222629;
$light-gray: #F9F9F9;
$white: white;
$black: black;
$color-one: #2a0845;
$color-two: $text-color;
$link-color: #222629;
$link-light: #777;
$link-hover: #6441A5;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 850px,
  lg: 1200px
);

a{
  color: $link-color;
  font-weight: bold;
  border-bottom: 1px transparent dotted;
  &:hover{
    color: $link-color;
    border-bottom: 1px $link-color dotted;
    // color: $link-hover;
    text-decoration: none;
  }
}

.portfolio-left, .portfolio-right {
  display: block;
  position: fixed;
  width: 50%;
  top: 0;
  height: 100%;
  @include respond-below(md){
    width: 100%;
    height: auto;
    position: relative;
  };
  .contact-details{
    position: absolute;
    width: 100%;
    padding: 0 40px;
    bottom: 1.25em;
    z-index: 200;
    left: 0;
    ul{
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
          font-size: 14px;
          a{
            transition: 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
          }
      }
    }
  }
}


.portfolio-left{
  left: 0;
  overflow: hidden;
  font-family: 'Libre Franklin', sans-serif;
  background: $color-two;
  @include respond-below(md){
    height: 250px;
    padding: 15px;


    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
  };
  .innards{
    width: 100%;
    display: block;
    text-align: center;
    @include respond-above(md){
      @include transform(translateY(-50%));
      top: 50%;
      position: absolute;

    };
    h1, h2{
      color: white;
    }
    h1{
      @include respond-below(xs){
        font-size: 30px;
      };
    }
    h2{
      @include respond-below(xs){
        font-size: 26px;
      };
    }
  }

  .contact-details{
    @include respond-below(xs){
      padding: 0 15px;
    };
    z-index: 200;
    ul{
      li {
          font-size: 14px;
          @include respond-below(xs){
            font-size: 12px;
          };
          a{
            color: #fff;
          }
      }
    }
  }

}

.portfolio-right {
  font-family: 'Roboto Mono', monospace;
  right: 0;
  overflow: auto;
  .header-image{
    display: block;
    width: 100%;
    height: 350px;
    background: red;
    background-position: center;
    background-size: cover;
  }
  .text{
    padding: 80px 40px 30px;
    .h2{
      font-weight: 300;
      font-size: 18px;
      margin: 0;
    }
    .opener{
      padding-top: 16px;
      margin: 0;
    }
    .separator{
      white-space: nowrap;
      // height: 16px;
      overflow: hidden;
    }
    .entry{
      padding-top: 16px;
      padding-bottom: 16px;
      h3{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding: 0;
        margin: 0;
        a, span {
          font-weight: bold;
          color: $link-color;
        }
      }
      .title_attr{
        color: $link-color;
      }
      p{
        margin: 0;
        color: $link-light;
      }
    }
  }

  footer{
    padding: 0 40px 80px;
    position: relative;
  }

}
