@import 'mixins';
$text-color: #222629;
$light-gray: #F9F9F9;
$white: white;
$black: black;
$color-one: #2a0845;
$color-two: $text-color;
$link-color: #6c71c4;
$link-light: #777;
$link-hover: #6441A5;
$breakpoints: ( xs: 576px, sm: 768px, md: 850px, lg: 1200px );

a {
  color: $link-color;
  border-bottom: 1px transparent dotted;
  text-decoration: none;

  &:hover {
    color: $link-color;
    border-bottom: 1px $link-color dotted;
    text-decoration: none;
  }
}

body {
  background: $text-color;
  // background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);
  // background: linear-gradient(to bottom, #2B32B2, #1488CC);
  display: block;
  margin: 0;
  height: 100vh;
}

#portfolio{
  z-index: 2;
  position: relative;
}

.portfolio-left,
.portfolio-right {
  display: block;
  position: fixed;
  width: 50%;
  top: 0;
  height: 100%;
  @include respond-below(md) {
    width: 100%;
    height: auto;
    position: relative;
  };

  .contact-details {
    position: absolute;
    width: calc(100% - 80px);
    padding: 0 40px;
    bottom: 1.25em;
    z-index: 200;
    left: 0;
    @include respond-below(xs) {
      padding: 0 15px 10px;
    };

    ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;

        a {
          // transition: 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }
      }
    }
  }
}

.portfolio-left {
  left: 0;
  overflow: hidden;
  font-family: 'Libre Franklin', sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);

  @include respond-below(md) {
    height: 250px;
    padding: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
  };

  .innards {
    width: 100%;
    display: block;
    text-align: center;
    @include respond-above(md) {
       @include transform(translateY(-50%));
      top: 50%;
      position: absolute;
    };

    h1,
    h2 {
      color: white;
    }

    h1 {
      @include respond-below(xs) {
        font-size: 30px;
      };
    }

    h2 {
      @include respond-below(xs) {
        font-size: 26px;
      };
    }
  }

  .contact-details {
    @include respond-below(xs) {
      padding: 0 15px;
    };
    z-index: 200;

    ul {
      li {
        font-size: 14px;
        @include respond-below(xs) {
          font-size: 12px;
        };

        a {
          color: #fff;
          border-bottom: 1px transparent dotted;

          &:hover {
            // color: $link-hover;
            border-bottom: 1px #fff dotted;
            text-decoration: none;
          }
        }
      }
    }
  }

  &.mockup{
    overflow: scroll;
    // line-height: 0;
    #imageContainer{
      overflow: scroll;
      z-index: 201;
      height: 100%;
      position: absolute;
      margin: 0;
      img{
        width: 100%;
      }
      &.up {
        -webkit-animation: layerUp 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
        animation: layerUp 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
        transform-origin: bottom;
        -webkit-transform-origin: bottom;
      }

      &.down {
        -webkit-animation: layerDown 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
        animation: layerDown 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
        transform-origin: left;
        -webkit-transform-origin: left;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  &.in {
    -webkit-animation: layerIn 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 200ms forwards;
    animation: layerIn 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 200ms forwards;
    transform-origin: left;
    -webkit-transform-origin: left;
  }

  &.out {
    -webkit-animation: layerOut 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
    animation: layerOut 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
    transform-origin: left;
    -webkit-transform-origin: left;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

.portfolio-right {
  font-family: 'Roboto Mono', monospace;
  right: 0;
  overflow: auto;
  background: white;

  .header-image {
    display: block;
    width: 100%;
    height: 350px;
    background: red;
    background-position: center;
    background-size: cover;
  }

  .text {
    font-size: 14px;
    padding: 80px 40px 30px;
    @include respond-below(xs) {
      padding: 30px 15px;
    };

    .h2 {
      font-weight: 300;
      font-size: 18px;
      margin: 0;
    }

    .opener {
      padding-top: 16px;
      margin: 0;
    }

    .separator {
      white-space: nowrap;
      // height: 16px;
      overflow: hidden;
    }

    .entry {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 14px;

      h3 {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding: 0;
        margin: 0;

        a {
          font-weight: normal;
          color: $link-color;
          text-decoration: none;
        }
        .root{
          font-weight:bold;
          color:#d33682;
        }
        .loc{
          font-weight: bold;
          color: $link-color;
        }
      }

      .title_attr {
        // color: $link-color;
      }

      p {
        font-size: 14px;
        margin: 0;
        // color: $link-light;
        a {
          font-weight: normal;
          color: $link-color;
          text-decoration: none;
        }
      }
    }
  }

  footer {
    padding: 0 40px 80px;
    font-size: 14px;
    position: relative;
    @include respond-below(xs) {
      padding: 0 15px 80px;
    };
  }

  &.in {
    -webkit-animation: layerIn 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
    animation: layerIn 1000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
    transform-origin: left;
    -webkit-transform-origin: left;
  }

  &.out {
    -webkit-animation: layerOut 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
    animation: layerOut 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
    transform-origin: left;
    -webkit-transform-origin: left;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .top{
    position: absolute;
    top: 40px;
    left: 40px;
  }

}

@-webkit-keyframes layerIn {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes layerIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes layerOut {
  0% {
    -webkit-transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100%);
  }
}
@keyframes layerOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}



@-webkit-keyframes layerUp {
  0% {
    -webkit-transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes layerUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes layerDown {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes layerDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
